<launch>

	<node name="Leap_data" pkg="human_robot_interaction" type="Leap_server.py" />
	<node name="XYZ_robot_coordinates" pkg="human_robot_interaction" type="LeapListener.py" />
	<node name="Hand_data" pkg="human_robot_interaction" type="hand_status.py" />
	<node name="Hand_life" pkg="human_robot_interaction" type="hand_life.py" />

</launch>
